<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visits Page</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">



    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">Visit</h1>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover ">
                            <thead class="thead-inverse">
                            <tr>
                                <td>ID</td>
                                <td>Data wizyty</td>
                                <td>Opis</td>
                                <td>Samochód</td>
                                <td>Właściciel</td>
                                <td>Pracownik</td>
                            </tr>
                            </thead>
                            <!--/*@thymesVar id="visitList" type="carserviceproject.carservice"*/-->
                            <!--/*@thymesVar id="visit" type="carserviceproject.carservice.models.Visit"*/-->
                            <tr th:each="visit : ${visitList}">
                                <td th:text="${visit.id}"></td>
                                <td th:text="${visit.dateVisit}"></td>
                                <td th:text="${visit.description}"></td>
                                <td><a th:href="@{'/car/' + ${visit.id} + '/showCar'}"><p
                                        th:text="${visit.getCar()}"></p></a></td>
                                <td><a th:href="@{'/owner/' + ${visit.id} + '/showOwner'}"><p
                                        th:text="${visit.getCar().getOwner()}"></p></a></td>
                                <td><a th:href="@{'/serviceEmployee/' + ${visit.id} + '/showServiceEmployee/'}"><p
                                        th:text="${visit.getServiceEmployee()}"></p></a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>